<div class="container" >
    <h5>Legal Entity</h5>
    <div id="" [formGroup]="legalEntity">
        <mat-form-field appearance="fill" style="width: 30%;">
            <mat-icon matPrefix>perm_identity</mat-icon>
            <mat-label>Name</mat-label>
            <input matInput placeholder="Please enter your username or ID" formControlName="username"/>
            <!-- <mat-hint>Please enter your username or ID</mat-hint> -->

          </mat-form-field><br>
          <mat-form-field appearance="fill" style="width: 30%;">
            <mat-icon matPrefix>perm_identity</mat-icon>
            <mat-label>Name</mat-label>
            <input matInput placeholder="Please enter your username or ID" formControlName="username"/>
            <!-- <mat-hint>Please enter your username or ID</mat-hint> -->

          </mat-form-field><br>
          <mat-form-field appearance="fill" style="width: 30%;">
            <mat-icon matPrefix>perm_identity</mat-icon>
            <mat-label>Name</mat-label>
            <input matInput placeholder="Please enter your username or ID" formControlName="username"/>
            <!-- <mat-hint>Please enter your username or ID</mat-hint> -->

          </mat-form-field><br>
          <button mat-flat-button class="btn" color="primary" (click)="submit()" ><mat-icon>arrow_right_alt</mat-icon>
            Submit</button>
    </div>
</div>
