<!-- First Nav header -->
      <mat-toolbar style="height: 6vh;">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <span style="height: 32px;width: 100px;">
          <img src="../../../../assets/brand.svg" >
        </span>
        <span class="example-spacer"></span>
        <mat-icon>account_circle</mat-icon>&nbsp;
        <span class="btn btn-sm btn-outline-secondary" style="cursor: pointer;font-size: 14px;">{{userName | uppercase}}</span>
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
        
            <button mat-menu-item  (click)="logout()">
              <mat-icon>arrow_back</mat-icon>
              <span>Logout</span>
            </button>
          
          </mat-menu>
      </mat-toolbar>
  <!-- 2nd nav for menu -->
   
      <mat-toolbar style="height: 5vh;background-color: white;">
        
        <button mat-raised-button routerLink="/admin" color="primary"> System</button>&nbsp;
        <button mat-raised-button  [matMenuTriggerFor]="smc"routerLink="/admin" color="primary"> SMC</button>&nbsp;
        <button mat-raised-button  [matMenuTriggerFor]="Configuration" color="primary"> Configuration & Setup</button>&nbsp;
        <button mat-raised-button  [matMenuTriggerFor]="animals"routerLink="/admin" color="primary"> Table Maintenance</button>&nbsp;
        <button mat-raised-button  [matMenuTriggerFor]="animals" routerLink="/admin" color="primary"> Dashboard View</button>
        <span class="example-spacer"></span>

        <mat-menu #animals="matMenu">
          <button mat-menu-item [matMenuTriggerFor]="vertebrates">Vertebrates</button>
          <button mat-menu-item [matMenuTriggerFor]="invertebrates">Invertebrates</button>
        </mat-menu>
        <mat-menu #smc="matMenu">
          <button mat-menu-item >Session Controls</button>
          <button mat-menu-item >Tuxedo Queue Monitor</button>
        </mat-menu>
        <mat-menu #Configuration="matMenu">
          <button mat-menu-item [matMenuTriggerFor]="Create">Create</button>
        </mat-menu>
        <mat-menu #Create="matMenu">
          <button mat-menu-item >Location</button>
          <button mat-menu-item routerLink="/admin/legal-entity">Legal Entity</button>
          <button mat-menu-item >Bank Relationship</button>
          <button mat-menu-item>Bank Location</button>
          <button mat-menu-item>Fund Group</button>
          <button mat-menu-item>Financial Pool</button>

        </mat-menu>
        <mat-menu #vertebrates="matMenu">
          <button mat-menu-item >Fishes</button>
          <button mat-menu-item >Amphibians</button>
          <button mat-menu-item >Reptiles</button>
          <button mat-menu-item>Birds</button>
          <button mat-menu-item>Mammals</button>
        </mat-menu>
        
        <mat-menu #invertebrates="matMenu">
          <button mat-menu-item>Insects</button>
          <button mat-menu-item>Molluscs</button>
          <button mat-menu-item>Crustaceans</button>
          <button mat-menu-item>Corals</button>
          <button mat-menu-item>Arachnids</button>
          <button mat-menu-item>Velvet worms</button>
          <button mat-menu-item>Horseshoe crabs</button>
        </mat-menu>
        
      </mat-toolbar>


  <!-- Sidebar -->
      <mat-grid-list cols="8" rowHeight="88vh" >
        <mat-grid-tile colspan="0.8" style="    border-right: 1px solid rgba(0, 0, 0, .12);">
          <div class="col-auto px-0" style="width: 204px;background-color: white;float:left;overflow-y: auto;height: 730px;">
            <div id="sidebar" class="collapse collapse-horizontal show border-end">
              
             <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">{{dataSource}}
                  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
                    <button mat-icon-button disabled></button>
                    {{node.name}}
                  </mat-tree-node>
                  <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
                    <button mat-icon-button matTreeNodeToggle
                            [attr.aria-label]="'Toggle ' + node.name">
                      <mat-icon class="mat-icon-rtl-mirror">
                        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                      </mat-icon>
                    </button>
                    {{node.name}}
                  </mat-tree-node>
              </mat-tree>
            
            </div>
        </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="6.5">
           <router-outlet></router-outlet>
        </mat-grid-tile>
      </mat-grid-list>


